#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

div {
	user-select: none;
}

.row {
	display: flex;
}

.cell {
	width: 32px;
	height: 32px;
	font-size: 1.1rem;
	background-color: #90ee90;
	transition: filter 0.15s ease-in-out;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.row:nth-child(even) .cell:nth-child(odd),
.row:nth-child(odd) .cell:nth-child(even) {
	background-color: #76c376;
}

.cell:not(.empty, .filled):hover {
	filter: brightness(90%);
}

.cell.filled {
	background-color: #e5c29f;
	cursor: default;
}

.row:nth-child(even) .cell:nth-child(odd).filled,
.row:nth-child(odd) .cell:nth-child(even).filled {
	background-color: #d7b899;
}
