:root{
	--cell-font-size: 0px;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.grid {
	user-select: none;
	width: fit-content;
	margin: auto;
	position: relative;
}

.overlay {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: inset 0 0 64px 13px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: inset 0 0 64px 13px rgba(0, 0, 0, 0.6);
	box-shadow: inset 0 0 64px 13px rgba(0, 0, 0, 0.6);
	z-index: 1;
	flex-direction: column;
	align-items: center;
}

.overlay button {
	max-width: fit-content;
}

.row {
	display: flex;
}

.cell {
	width: 32px;
	height: 32px;
	font-size: calc(1.1rem + var(--cell-font-size));
	background-color: #90ee90;
	transition: filter 0.15s ease-in-out, width 0.15s linear, height 0.15s linear;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
}

.larger {
	width: 40px;
	height: 40px;
	font-size: calc(1.4rem + var(--cell-font-size));
}

.row:nth-child(even) .cell:nth-child(odd),
.row:nth-child(odd) .cell:nth-child(even) {
	background-color: #76c376;
}

.cell:not(.empty, .filled):hover {
	filter: brightness(90%);
}

.cell.filled {
	background-color: #e5c29f;
	cursor: default;
}

.row:nth-child(even) .cell:nth-child(odd).filled,
.row:nth-child(odd) .cell:nth-child(even).filled {
	background-color: #d7b899;
}
