body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;

    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    box-sizing: border-box;
    color-scheme: dark light;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
    text-decoration: underline;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: white;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.panel {
    position: absolute;
    top: 8px;
    right: 8px;
}

.infoBar {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 512px;
}

.infoBar > *:not(button, .menu) {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.5em;

    background-color: #1a1a1a;
    padding: 8px;
    border-radius: 8px;
}

footer {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #1a1a1a;
    box-sizing: border-box;
}

footer > * {
    margin: 0;
}
